body {
    background-color: #f7e8c4;
}

h1 {
   text-align: center;
   font-family: 'Voltaire', sans-serif;
   font-size: 75px;
   color: #9f4282;
}

h2 {
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font-size: 50px;
    color: #ff1744;
}

ul {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
}

li {
    padding: 5px;
}

#burgerform {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
}

label {
    color: black;
    font-size: 15px;
}

#burgerimg { 
    display: flex;
    align-self: center;
}