<li>
	{{burger_name}}

	{{#if devoured}}
	<button class="waves-effect waves-light btn deep-orange accent-2 eat-burger" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR IT!
	</button>

{{/if}}
	<button class="waves-effect waves-light btn deep-orange accent-2 delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
